/* pixabay-clone/src/App.css */
.container {
  width: 100%;
  height: 100vh;
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  margin-bottom: 12px;
  font-size: 2.5rem;
}

.container input {
  min-width: 360px; /* Default width */
  padding: 5px 12px;
  margin-bottom: 36px;
  outline: none;
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .container h2 {
    margin-bottom: 12px;
    font-size: 2rem;
  }
  .container input {
    min-width: 200px; /* Adjusted width for mobile */
    width: 80%; /* Make it responsive */
  }
}